<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dzoniiisd/QAtive-Course/AutomationPractice">
        <classes>
            <class name="tests.cartTest">
                <methods>
                    <include name="addAndRemoveCart"/>
                </methods>
            </class>
            <class name="tests.loginTest">
                <methods>
                    <include name="validLogin"/>
                    <include name="wrongCredentialsLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>